*{
  color: #131212;
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  /* font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif; */
  /* font-family: "Inter", sans-serif; */
  font-family: "Jost", sans-serif;
  /* font-family: "Roboto Flex", sans-serif; */
}

body{
  margin: 0;
  padding: 0;
  
}

.app{
  /* background-color: #171717;
   */
   background: #f4f3ee;
background: linear-gradient(linear-gradient(1deg, rgb(26 26 26) 3%, rgba(23, 23, 23, 1) 100%));
  display: flex;
}