.logo-chatWindow{
    height: 30px;
}

.user-icon{
    color: rgb(247, 160, 129);
    font-size: 25px;
}

.chat-window-navbar{
    height: 10vh;
    width: 100%;
    /* background-color: #121212; */

    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;

    padding: 40px;
    box-sizing: border-box;
}

.input-box {
    display: flex;
    align-items: center;
    width: 60%;
    height: 50px;
    background-color: #dfded9;
    /* border: 2px solid #3c3c3c; */
    border-radius: 19px;
    padding: 0 20px;
    color: #3a3a3a;
    margin: 0 auto;
    /* box-shadow: #3186ff 0px 7px 29px 0px; */
    box-shadow: rgba(0, 0, 0, 0.256) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    font-size: 1.1rem;

}



.chat-input{
    all : unset;
    padding: 20px 0;
    width: 100%;
    height: 100%;       
}

.middle-input{
    height: vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.h3-main-heading{
    
    font-size: 2rem;
    font-weight: 600;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
}

.chat-window{
    
    height: 100vh;
    width: 78vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.footer{
    font-size: 0.8rem;
    font-family:  Helvetica, sans-serif;
    font-weight: 100;
    color: #989898;
}

.bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px ;
    gap: 10px;

}

.btn-submit{
    /* background-color: rgba(255, 255, 255, 0.1); */
    border-radius: 25px;
    padding: 10px;
}

.btn-submit:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    padding: 10px;
}

.loader{
    position: relative;
    bottom: 100px;
}

.logo-main{
    font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.send{
    color: #c15f3c;
}