.chat-messages{
    width: 70%;
    height: 65vh;
    overflow-y: auto; 
    padding: 0 8rem;
    font-size: 1.1rem;
}

.chat-messages::-webkit-scrollbar {
    width: 2px; /* thinner scrollbar */
}

.chat-messages::-webkit-scrollbar-track {
    background: #bebebe; /* dark background to blend with your theme */
    border-radius: 10px;
}

.chat-messages::-webkit-scrollbar-thumb {
    background: #969696; /* scrollbar color */
    border-radius: 10px;
    transition: background 0.3s ease;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
    background: #666; /* lighter shade on hover */
}

p{
   
}

.userDiv{
    
    display: flex;
    justify-content: flex-end;
    margin:  15px 0;

}

.userMsg{
    background-color: #d4d2cb;
    padding: 10px 15px;
    border-radius: 10px 0px 10px 10px;
    max-width: 60%;

}

.assistantDiv{

    text-align: left;
    max-width: 100%;


}

.assistantMsg{

}

.h3-main-heading{
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  text-align: center;
}

.dot{
    /* color: rgb(247, 160, 129); */
    color: #c15f3c;
    font-size: 100px;
}

.hero-subheading{
    font-size: 1.4rem;
    text-align: center;
    font-size: 1rem;
    width: 60%;
    margin: 0 auto;
    color: rgb(121, 120, 120);
}